<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cocosw.framework.debug">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".DebugWindow"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name=".CatLogWindow"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name="com.jakewharton.u2020.ui.debug.DebugAppContainer"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light" />


        <activity
            android:name="com.readystatesoftware.notificationlog.LogActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light" />


    </application>

</manifest>
